{% extends 'profile/profile.html' %} {% block header %} A list of events that
you have signed up for {% endblock %} {% block table %}
<table role="grid">
  <thead>
    <tr>
      <th scope="col">Event</th>
      <th scope="col">Name</th>
      <th scope="col">Created</th>
    </tr>
  </thead>
  <tbody>
    {% if not events %} {% else %} {% for event in events %}

    <tr>
      <th scope="row">
        <a href="{{ url_for('eventpage', event_id = event.event_id) }}"
          >{{ event.event_name }}</a
        >
      </th>
      <td>{{ event.name }}</td>
      <td>{{ event.signup_date }}</td>
    </tr>
    {% endfor %} {% endif %}
  </tbody>
</table>
{% endblock %}
