{% extends 'profile/profile.html' %} {% block header %} A list of your
memberships {% endblock %} {% block table %}
<table role="grid">
  <thead>
    <tr>
      <th scope="col">Member no.</th>
      <th scope="col">Name</th>
      <th scope="col">Club</th>
      <th scope="col">Status</th>
      <th scope="col">Expiration</th>
    </tr>
  </thead>
  <tbody>
    {% if not memberships %} {% else %} {% for membership in memberships %}
    <tr>
      <th scope="row">{{ membership.number }}</th>
      <td>{{ membership.name }}</td>
      <td>{{ membership.club }}</td>
      {% if membership.status is true %}
      <td>Active</td>
      {% else %}
      <td>Inactive</td>
      {% endif %}
      <td>{{ membership.expiration }}</td>
    </tr>
    {% endfor %} {% endif %}
  </tbody>
</table>
{% endblock %}
