{% extends 'base.html' %} {% block content %}
<article>
  {% if events %}
  <table role="grid">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Event</th>
        <th scope="col">Club</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
      <tr>
        <th scope="row">{{ event.user_name }}</th>
        <td>
          <a href="{{ url_for('eventpage', event_id=event.event_id) }}"
            >{{ event.event_name }}</a
          >
        </td>
        <td>{{ event.club_name }}</td>
        <td>{{ event.price }} DKK</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th scope="col">Total</th>
        <td scope="col"></td>
        <td scope="col"></td>
        <td scope="col">{{total}} DKK</td>
      </tr>
    </tfoot>
  </table>
  <a
    role="button"
    style="width: 100%"
    href="{{ url_for('confirmed', events=ids) }}"
    >Confirm</a
  >
  {% else %} Looks like there's no events needing confirmation {% endif %}
</article>
{% endblock %}
