{% extends 'base.html' %}

{% block content %}
<main class="container">
    <form action="/signup" method="POST">

        <!--Grid-->
        <div class="grid">
            <!--Input is inside label-->
            <label for="firstname">
                First name
                <input type="text" id="firstname" name="firstname" placeholder="First name" required>
            </label>
            <label for="lastname">
                Last name
                <input type="text" id="lastname" name="lastname" placeholder="Last name" required>
            </label>
        </div>
            <label for="address">
                Address
                <input type="text" id="address" name="address" placeholder="Address" required>
            </label>
            <fieldset>
                <legend>Gender</legend>
                <div class="grid">
                <label for="female">
                    Female
                    <input type="radio" id="female" name="gender" value="female">
                </label>
                <label for="male">
                    Male
                    <input type="radio" id="male" name="gender" value="male">
                </label>
                <label for="other">
                    Other
                    <input type="radio" id="other" name="gender" value="other"> 
                </label>
                </div>
            </fieldset>
        <label for="birthdate">
            Birthdate
            <input type="date" id="birthdate" name="birthdate" placeholder="Birthdate" required>
        </label>
        <label for="country">
            Country
            <select name="country" id="country">
                <option value="DK" selected>Denmark</option>
                <option value="FI">Finland</option>
                <option value="IS">Iceland</option>
                <option value="NO">Norway</option>
                <option value="SE">Sweden</option>
            </select>
        </label>
        <div class="grid">
            <label for="zipcode">
                Zipcode
                <input type="number" id="zipcode" name="zipcode" placeholder="Zipcode" required>
            </label>
            <label for="city">
                City
                <input type="text" id="city" name="city" placeholder="City" required>
            </label>
        </div>
            <label for="email">
                Email-address
                <input type="email" id="email" name="email" placeholder="Email-address" required>
            </label>
            <label for="password">
                Password
                <input type="password" id="password" name="password" placeholder="Password" required>
            </label>
            <label for="phone">
                Phone number
                <input type="number" id="phone" name="phone" placeholder="Phone number">
            </label>
            <button type="submit"> Sign up </button>
        </div>

    </form>
</main>
{% endblock %}