{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1>{{event.name}}</h1>
  <hgroup>
    {% if event.date_from == event.date_to and not event.time_from %}
    <h4>{{event.date_from}}</h4>
    {% elif event.date_from == event.date_to and event.time_from and
    event.time_to %}
    <h4>
      Date {{event.date_from}} from {{event.time_from}} to {{event.time_to}}
    </h4>
    {% elif event.date_from != event.date_to %}
    <h4>From {{event.date_from}} to {{event.date_to}}</h4>
    {% endif %} {% if not event.max_spots and event.participants > 0 %}
    <p>{{event.participants}} signed up</p>
    {% elif not event.max_spots and event.participants == 0 %} {% elif
    event.max_spots >= 0 and event.participants > 0 %}
    <p>{{event.participants}} signed up, {{event.max_spots}} available spots</p>
    {% elif event.max_spots >= 0 and event.participants == 0 %}
    <p>{{event.max_spots}} available spots</p>
    {% endif %}
  </hgroup>

  <div class="grid">
    {% if member %}
    <div>
      <a
        href="{{ url_for('event_signup', event_id=event.event_id) }}"
        role="button"
        >Sign up</a
      >
    </div>
    {% endif %}
    <div>
      <a
        href="{{ url_for('event_participants', event_id=event.event_id) }}"
        role="button"
        >Participants</a
      >
    </div>
  </div>
  <article>
    <header>{% block header %} About the event {% endblock %}</header>
    <body>
      {% block body %} {{event.info}} {% endblock %}
    </body>
  </article>
</div>
{% endblock %}
